<div class="rectangle">

  <p>Deine Freunde</p>

</div>

<br>

<div class="rectangle_friends">

  <p class="Name">Lukas</p>
  <p class="Befreundet_seit">Freunde seit 1 Jahr</p>
  <p class="gemeinsame_Fahrten">157 gemeinsame Fahrten</p>
  <img src="assets/ChatBild.jpg" alt="ich hasse dich">

</div>

<br>

<div class="rectangle_friends">

  <p class="Name">Ben</p>
  <p class="Befreundet_seit">Freunde seit 1 Monaten</p>
  <p class="gemeinsame_Fahrten">2 gemeinsame Fahrten</p>
  <img class="LukasBild" src="ChatBild.jpg" alt="ich hasse dich">

</div>

<br>

<div class="rectangle_friends">

  <p class="Name">Sergey</p>
  <p class="Befreundet_seit">Freunde seit 11 Monaten</p>
  <p class="gemeinsame_Fahrten">49 gemeinsame Fahrten</p>
  <img src="ChatBild.jpg" alt="ich hasse dich">

</div>
