.rectangle {
  display: flex;
  flex-direction: column;
  height: 70px;
  width: 100%;
  position: relative;
  background-color: #E9F2EF;
}

.rectangle_friends{
  background-color: #fbfdfc;
  height: 100px;
  border-radius: 16px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.rectangle p {
margin: 10px 0 0 10px;
  color: #0e534b;
  font-size: 230%;
  font-weight: bold;

}

.Name{
  font-size: 25px;
  font-weight: bold;
  position: relative;
  justify-content: center;
  left: 25%;
  top: 20%;
}

.Befreundet_seit{
  font-size: 19px;
  position: relative;
  left: 25%;
  top: 15%;
}

.gemeinsame_Fahrten{
  font-size: 19px;
  position: relative;
  left: 25%;
  top: 6%;
}

.ChatSymbol{

  width: 25%;
  height: auto;
  position: absolute;
  left: 78%;
  top: 11%;
  border-radius: 50%;
}

.ChatSymbol2{
  width: 25%;
  height: auto;
  position: absolute;
  left: 78%;
  top: 25.5%;
  border-radius: 50%;
}

.ChatSymbol3{
  width: 25%;
  height: auto;
  position: absolute;
  left: 78%;
  top: 40%;
  border-radius: 50%;
}

.Profilbild1{
  width: 23%;
  position: absolute;
  left: 0.6%;
  top: 11.3%;
}

.Profilbild2{
  width: 23%;
  position: absolute;
  left: 0.6%;
  top: 25.5%;
}

.Profilbild3{
  width: 23%;
  position: absolute;
  left: 0.6%;
  top: 40%;
}
