<div class="rectangle">

  <p>Deine Freunde</p>

</div>

<br>

<div class="rectangle_friends">

  <p class="Name">Lukas</p>
  <p class="Befreundet_seit">Freunde seit 1 Jahr</p>
  <p class="gemeinsame_Fahrten">157 gemeinsame Fahrten</p>
  <img class="ChatSymbol" src="assets/ChatBild3.png" >
  <img class="Profilbild1" src="assets/Lukas.png" >

</div>

<br>

<div class="rectangle_friends">

  <p class="Name">Ben</p>
  <p class="Befreundet_seit">Freunde seit 1 Monaten</p>
  <p class="gemeinsame_Fahrten">2 gemeinsame Fahrten</p>
  <img class="ChatSymbol2" src="assets/ChatBild3.png" >
  <img class="Profilbild2" src="assets/Ben.png" >

</div>

<br>

<div class="rectangle_friends">

  <p class="Name">Sergey</p>
  <p class="Befreundet_seit">Freunde seit 11 Monaten</p>
  <p class="gemeinsame_Fahrten">49 gemeinsame Fahrten</p>
  <img class="ChatSymbol3" src="assets/ChatBild3.png" >
  <img class="Profilbild3" src="assets/Sergey.png" >

</div>
