<div class="location-item">
  <div class="location-image">
    <img [src]="'/assets/standorte/' + getImageForLocation(location.name)" [alt]="location.name + ' Image'">
  </div>
  <div class="location-details">
    <h3 class="location-name">{{ location.name }}</h3>
    <p class="location-address">{{ location.strasse }} {{ location.hausnummer }}</p>
    <p class="location-address">{{ location.plz }} {{ location.ort }}</p>
  </div>
  <button class="favorite-button" [class.favorited]="isFavorite" (click)="onToggleFavorite()">
    <i class="material-icons">{{ isFavorite ? 'star' : 'star_border' }}</i>
  </button>
</div>
