<div class="top-bar">
  <button mat-button [class.active]="activeLink === 'locations'" (click)="setActiveLink('locations')">
    Standorte
  </button>
  <button mat-button [class.active]="activeLink === 'favorites'" (click)="setActiveLink('favorites')">
    Favouriten
  </button>
</div>

<div class="locations-container">
  <div class="locations-section" *ngIf="activeLink === 'locations'">
    <div class="location-list">
      <app-location-item
        *ngFor="let location of locations"
        [location]="location"
        [isFavorite]="isFavorite(location)"
        (toggleFavorite)="toggleFavorite($event)"
      ></app-location-item>
    </div>
  </div>
  <div class="favorites-section" *ngIf="activeLink === 'favorites'">
    <div class="location-list">
      <app-location-item
        *ngFor="let location of favorites"
        [location]="location"
        [isFavorite]="isFavorite(location)"
        (toggleFavorite)="toggleFavorite($event)"
      ></app-location-item>
    </div>
  </div>
</div>
