#main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#green-banner {
  background-color: #E9F2EF;
  color: white;
  padding: 10px 20px;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0E534B;
}

#content-area {
  flex-grow: 1;
  background-color: white;
  padding: 20px;
}

.rectangle {
  width: 100%;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.mat-card {
  height: 200px;
}

#number-container {
  background-color: white;
  color: #4CAF50;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
