#main-container {

}

#green-space {
  width: 382px;      /* Breite des Rechtecks */
  height: 150px;     /* Höhe des Rechtecks */
  background-color: #E9F2EF; /* Farbe des Rechtecks */
  /*border-radius: 8px; /* Abgerundete Ecken (optional) */
}

#white-space {
  width: 382px;      /* Breite des Rechtecks */
  height: 852px;     /* Höhe des Rechtecks */
  background-color: #FEF7FF; /* Farbe des Rechtecks */
  /*border-radius: 8px; /* Abgerundete Ecken (optional) */
}

p{
  font-size: 230%;
  font-weight: lighter;
  color: #0E534B;
  display: flex;
  justify-content: left; /* Zentriert horizontal */
  align-items: center;   /* Zentriert vertikal */
  margin: 100px;
}
