<div id="main-container">
  <div id="green-banner" class="rectangle">
    <div class="banner-content">
      <p>Punkteshop</p>
      <div id="number-container">120</div>
    </div>
  </div>

  <div id="content-area" class="rectangle">
    <div class="scrollable-content">
      <mat-card>
        <mat-card-content>
          <div class="container">
            <img src="favicon.ico" >
            <p> Hallo </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
